html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.main-content img {
  display: inline-block;
  margin-bottom: 50px;
}

.main-content div {
  margin-bottom: 50px;
}

.main-content div a {
  display: inline-block;
  padding: 24px 49px;
}

.main-content div :not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.container * {
  margin-top: 0px;
}

.container div figure {
  margin-left: 0px;
}

.container h1 {
  margin-bottom: 40px;
}

.text {
  margin-bottom: 40px;
  width: 872px;
}

.gray-ellipse {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
}

.container .gray-ellipse:last-child {
  margin-bottom: 0;
}

.gray-ellipse p {
  width: 692px;
  margin-bottom: 10px;
}

.container h2,
h3 {
  margin-bottom: 10px;
}

.container ul {
  padding-left: 15px;
}

.container ul li:not(:last-child) {
  margin-bottom: 20px;
}

.container img {
  margin-bottom: 40px;
}

.container figure>img {
  margin-bottom: 0px;
}

.container figure {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
}

.link {
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.download {
  font-weight: 700;
  font-size: 18px;
  padding-left: 30px;
  color: #3f2aff;
  background-image: url("../img/download.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto;
}

.main-header {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.quote {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background-color: #3f2aff;
}

.gray-ellipse {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto;
}

.decorate1 {
  background-image: url("../img/decorate-1.png");
}

.decorate2 {
  background-image: url("../img/decorate-2.png");
}

.header2 {
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

::marker {
  color: blue;
}

.items {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
  width: fit-content;
}

.header3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.figure {
  font-size: 0;
}

.figure figcaption {
  border: 1px solid #b6b6b6;
  border-top: 0;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
